.container {
  width: 1200px;
  margin: 0px auto;
}
.container-index {
  width: 1600px;
  margin: 0px auto;
}
menu {
  display: flex;
  gap: 46px;
  margin: 32px 0px 32px 93px;
}
.top-menu {
  display: flex;
  align-items: center;
  width: 1200px;
}
.top-menu-index {
  display: flex;
  align-items: center;
  width: 1600px;
  height: 80px;
}
.top-site {
  display: flex;

  align-items: center;
  margin: auto;
}

.button-list-port {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0px;
  list-style: none;
  justify-content: center;
}
.port-fotos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  list-style-type: none;
  justify-content: center;
}

.foto-list {
  flex-direction: column;

  flex-basis: calc((100% - 60px) / 3);
}
img {
  width: auto;
  max-width: 100%;
  height: auto;
}
.first-baby {
  display: flex;

  align-items: center;
}
.second-baby {
  display: flex;
  gap: 50px;
  margin-left: 364px;
}
.first-baby-index {
  display: flex;
  align-items: center;
  padding-left: 215px;
}
.second-baby-index {
  display: flex;
  gap: 50px;
  margin-left: 371px;
}
figure {
  margin: 0px;
  border: 1px solid #eeeeee;
  width: 370px;
}
header {
  border-bottom: 1px solid #ececec;

  width: 1600px;
  align-items: center;
  margin: auto;
}
main {
  margin-bottom: 94px;
  margin-top: 94px;
}
.portfolio-bottom-logo {
  padding: 60px 1040px 20px 15px;
}
.foot-adress {
  color: var(--background-color);
  padding: 20px 938px 60px 15px;
  font-size: 14px;
  line-height: 1.7;
}
address {
  gap: 9px;
}
.lorem-list {
  display: flex;
  row-gap: 10px;
  column-gap: 30px;
  width: 1170px;
  justify-content: space-between;
}

.index-lorem {
  max-width: 1170px;
  margin: 94px 215px 94px 215px;
}
.service {
  padding: 30px 700px 200px 700px;
}
.index-what {
}
