.container {
  width: 1200px;
  margin: 0px auto;
}
menu {
  display: flex;
  gap: 46px;
  margin: 32px 0px 32px 93px;
}
.top-menu {
  display: flex;
  align-items: center;
  width: 1200px;
}
.top-site {
  display: flex;
  justify-content: center;
}
.navi-top {
  display: flex;
  gap: 50px;
  margin: 32px 0px 32px 371px;
}
.port-fotos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px;
  list-style: none;
  justify-content: center;
}
.button-list-port {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0px;
  list-style: none;
  justify-content: center;
}
.foto-list {
  flex-direction: column;
  margin: unset;
  flex-basis: calc((100% - 60px) / 3);
}
img {
  width: auto;
  max-width: 100%;
  height: auto;
}
.first-baby {
  display: flex;
  gap: 93;
  align-items: center;
}
.second-baby {
  display: flex;
  gap: 50px;
  margin-left: 364px;
}
figure {
  border: 1px solid #eeeeee;
}
header {
  border: 1px solid #ececec;
  margin-bottom: 94px;
}
main {
  margin-bottom: 94px;
}
